<footer class=" text-center p-4" style="background-color: #2c3e50;color: white;">
  <div class="row"> <div class="col-md-4">
    <h3>LOCATION</h3>
    <p> 2215 John Daniel Drive </p>
    <p> Clark, MO 65243</p>
   </div>
   <div class="col-md-4">
    <h3>AROUND THE WEB</h3>
    <i class="fa-brands fa-facebook mx-2 "></i>
    <i class="fa-brands fa-twitter mx-2 "></i>
    <i class="fa-brands fa-linkedin mx-2 "></i>
    <i class="fa-solid fa-globe mx-2 "></i>
   </div>
   <div class="col-md-4">
    <h3>ABOUT FREELANCER</h3>
    <p>Freelance is a free to use, licensed Bootstrap theme</p>
    <p>created by Route</p>
   </div>
</div>
  </footer>
  <div class="text-white text-center w-100 p-4" style="background-color: #1a252f;">
       
    <p>Copyright © Your Website 2021</p>
  </div>
  
  
  