<section class="  ">
    <h1 class="pt-5 "style="color:  #2c3e50;text-align: center">CONATCT SECTION</h1>
        <div class="line-decoration d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3  " style="text-align: center; background-color:  #2c3e50;height: 4px;width:80px;"></div>
          <i class="fa-solid fa-star " style="color:  #2c3e50;"></i>
          <div class="line ms-3" style="text-align: center; background-color: #2c3e50;height: 4px;width:80px;"></div>
          </div>
   <div class="container w-50 p-3 mx-auto mt-5">
    <div class="form ">
        <label for="userName" class="position-relative  "></label>
        <input type="text" name="userName" placeholder="userName" id="userName" class="form-control
        border-0 border-bottom py-3 position-relative " >
      
        <label for="userAge" class="position-relative"></label>
        <input type="text" name="userAge" placeholder="userAge" id="userAge" class="form-control
        border-0 border-bottom py-3 position-relative " >
      
        <label for="userEmail" class="position-relative  "></label>
        <input type="email" name="userEmail" placeholder="userName" id="userEmail" class="form-control
        border-0 border-bottom py-3 position-relative " >
        <label for="userPAssword" class="position-relative  "></label>
        <input type="password" name="userPAssword" placeholder="userName" id="userPassword" class="form-control
        border-0 border-bottom py-3 position-relative " >
        <button class="btn mt-4 text-white" style="background-color: #1abc9c;">send message</button>
      </div>
    
   </div>
</section>
