<section>
   <div class="home d-flex justify-content-center align-items-center text-white " style="background-color: #1ABC9C;">
    <div class="text-center ">
        <img src="./assets/imges/avataaars.svg" alt="" class="mb-3">
        <h1 class="pt-5 text-white">START FRAMEWORK</h1>
        <div class="line-decoration d-flex justify-content-center align-items-center mb-3">
            <div class="line me-3  " style="text-align: center; background-color: white;height: 4px;width:80px;"></div>
          <i class="fa-solid fa-star " style="color: #ffffff;"></i>
          <div class="line ms-3" style="text-align: center; background-color: white;height: 4px;width:80px;"></div>
          </div>
          <p>Graphic Artist - Web Designer - Illustrator </p>
    </div>
   </div>

</section>

